@model BugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}


<section class="details">
    <h1 class="title">Details</h1>
    <dl id="project-details">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
    <div class="lower-buttons">
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <a class="lower-btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
        <a class="lower-btn" asp-action="Index">Back to List</a>
    </div>
</section>